@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

.contenedor {
	width: 100%;
	/* height: calc(100vh - 50px); */
	background-color: #fff;
	padding: 0.313rem 1.25rem;
}
.contenido {
	width: 100%;
	height: auto;
	border-top: 0.188rem solid #ccc;
	padding-top: 0.625rem;
}
.noticia-contenedor {
	margin-bottom: 0.625rem;
	display: flex;
	flex-direction: column;
}
.noticia-barra {
	width: 0;
	height: 0.2rem;
	background-color: #00b894;
	transition: all 0.4s ease;
}
.noticia-contenedor:hover .noticia-barra {
	width: 100%;
}
.noticia-contenedor img {
	max-width: 100%;
}
.noticia-contenido {
	transition: all 0.4s ease;
}
.noticia-contenedor:hover .noticia-contenido {
	background-color: #fafafa;
}
.noticia-datos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.313rem;
}
.noticia-autor,
.noticia-fecha {
	margin: 0;
	color: #00b894;
	font-weight: 700;
}
.noticia-titulo {
	text-align: left;
	line-height: 1.2;
}
.noticia-descripcion {
	font-size: 1.125rem;
	margin-bottom: 2.5rem;
}
.noticia-botones {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.625rem;
}
.noticia-leer {
	color: #2d3436;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	cursor: pointer;
	outline: none;
	border: none;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.noticia-leer .icono {
	background-image: url('../img/arrow.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 0.875rem;
	height: 0.875rem;
	margin-left: 0.625rem;
	transition: all 0.1s ease;
}
.noticia-leer:hover .icono {
	margin-left: 0.938rem;
}
.noticia-mas-tarde {
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 1.125rem;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.noticia-mas-tarde span {
	font-size: 0.75rem;
	color: rgb(141, 141, 141);
	opacity: 0;
	transition: all 0.3s ease;
}
.noticia-mas-tarde:hover span {
	opacity: 1;
}
.noticia-mas-tarde .icono {
	background-image: url('../img/despues.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 1.25rem;
	height: 1.25rem;
	margin-left: 0.313rem;
	display: inline-block;
	transition: transform 0.2s ease;
}
.noticia-mas-tarde:hover .icono {
	transform: scale(1.2);
}

/** tablet **/
@media (min-width: 768px) {
	.contenido {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;
	}
	.noticia-uno {
		grid-column: 1 / 3;
	}
	.noticia-uno img {
		width: 100%;
	}
	.noticias-dos-contenedor {
		grid-column: 1 / 3;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;
	}
}

/** buscador estra **/
.contenedor-buscador {
	background-color: #2d3436;
	padding: 0.313rem 0;
}

/** desktop **/
@media (min-width: 1200px) {
	.contenido {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 1.25rem;
	}
	.noticia-titulo {
		font-size: 1.125rem;
	}
	.noticia-descripcion {
		font-size: 1rem;
	}
	.noticia-uno {
		grid-column: 1 / 3;
	}
	.noticia-uno img {
		width: 100%;
	}
	.noticia-uno .noticia-leer {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}

	.noticia-dos {
		border-bottom: none;
	}
	.noticia-dos img,
	.noticia-dos .noticia-datos {
		display: none;
	}

	.noticia-dos .noticia-leer {
		font-size: 0.875rem;
		padding: 0.5rem 1rem;
	}
	.noticias-dos-contenedor {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		grid-column: auto;
	}

	.noticia-tres .noticia-leer {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}
}
.agregada span {
	color: #00b894;
}
