@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

.navbar-contenedor {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.criptos {
	display: flex;
}
.cripto {
	margin-right: 1.25rem;
	display: flex;
	align-items: center;
	color: #808080;
}
.cripto-icon {
	width: 1.875rem;
	height: 1.875rem;
	margin-right: 0.313rem;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
.btc {
	background-image: url('../img/btc.svg');
}
.eth {
	background-image: url('../img/eth.svg');
}
.ltc {
	background-image: url('../img/ltc.svg');
}
.cripto-precio {
	display: flex;
	flex-direction: column;
}
.cripto-precio-precio {
	font-weight: bold;
}
.subio {
	color: #00b894;
}
.igual {
	color: #636e72;
}
.bajo {
	color: #d63031;
}

/** clima **/

.clima {
	color: #808080;
	font-size: 1rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.clima span {
	margin-right: 0.625rem;
}
.clima-img {
	/* background-image: url('../img/clima-img.png');
	background-position: center center;
	background-size: cover; */
	width: 3.125rem;
	height: 3.125rem;
}
.clima-img img {
	width: 100%;
}

@media (max-width: 769px) {
	.cripto-icon {
		width: 1.563rem;
		height: 1.563rem;
	}
	.cripto-precio span {
		font-size: 0.75rem;
	}
}
@media (max-width: 576px) {
	.cripto-icon {
		width: 1.25rem;
		height: 1.25rem;
	}
	.cripto-precio span {
		font-size: 0.625rem;
	}
}
