.sidebar {
	width: 100%;
	height: 100%;
	background-color: #2d3436;
	color: #fff;
}
.perfil {
	width: 80px;
	height: 80px;
	background-color: #e17055;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.perfil span {
	font-size: 35px;
	font-weight: 400;
}
.saludo-usuario {
	text-align: center;
}
.buscardor {
	width: 90%;
	margin: 0 auto;
}
.input-buscar {
	display: flex;
	align-items: center;
}
.input-buscar input {
	width: 85%;
	height: 30px;
	border-radius: 30px 0 0 30px;
	padding-left: 10px;
	border: none;
	outline: none;
	color: #2d3436;
	font-size: 18px;
}
.input-buscar button {
	width: 15%;
	height: 30px;
	border-radius: 0 30px 30px 0;
	padding-left: 10px;
	border: none;
	outline: none;
	background-color: #00b894;
	font-size: 18px;
	cursor: pointer;
}
.buscar-icon {
	background-image: url('../img/search\ icon.svg');
	background-position: center center;
	background-size: cover;
	width: 20px;
	height: 20px;
	margin: 0 auto;
}
.paises {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.boton-pais {
	font-size: 20px;
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	padding: 0;
	margin-right: 10px;
}
.boton-pais:last-child {
	margin-right: 0;
}

/** Menu **/
.menu {
	margin: 0 auto;
	margin-top: 20px;
	width: 90%;
}
.nav-link {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	border-radius: 30px;
	padding: 3px 10px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.nav-link-icon {
	background-position: center center;
	background-size: cover;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.nav-link-active {
	background-color: #00b894;
}
.nav-link-general {
	background-image: url('../img/Vector.svg');
}
.nav-link-deportes {
	background-image: url('../img/sports\ icon.svg');
}
.nav-link-economia {
	background-image: url('../img/economy\ icon.svg');
}
.nav-link-salud {
	background-image: url('../img/health\ icon.svg');
}
.nav-link-entretenimiento {
	background-image: url('../img/entertainment\ icon.svg');
}
.nav-link-tecnologia {
	background-image: url('../img/technology\ icon.svg');
}
.nav-link-mas-tarde {
	background-image: url('../img/leer\ mas\ tarde\ icon.svg');
}
.nav-link-cerrar-sesion {
	background-image: url('../img/logout\ icon.svg');
}
.logo {
	position: absolute;
	bottom: 0;
	left: 5%;
}
.logo h1 {
	font-size: 18px;
}
